<div class="myTable">
    <div class="sidebar">
        <label>Choose Age
            <div class="choose-Age">
                <label>
                    from 
                    <input 
                           type="number" 
                           placeholder="1"
                           min="1"
                           max="100" 
                           (change)="generalFiltering('ageFrom', $event.target.value)"/>
                </label>

                <label>
                    to
                    <input 
                           type="number"  
                           placeholder="100" 
                           min="1"
                           max="100"
                          (change)="generalFiltering('ageTo', $event.target.value)"/>
                </label>
            </div>

        </label>

        <label>Choose Sex
            <select (change)="generalFiltering('sex',$event.target.value )" class="selectSex">
                <option>all</option>

                <option>male</option>

                <option>female</option>
            </select>
        </label>

        <label>Choose Company
            <select class="selectCompany" 
                    (change)="generalFiltering('company', $event.target.value)">
            <option></option>

            <option *ngFor = "let company of companiesListSingle">
                {{company}}
            </option>
            </select>
        </label>

        <label>
            Search
            <input type="text" 
                   (change)="generalFiltering('query', $event.target.value)" 
                   placeholder="email,first,last"/>
        </label>
    </div>

    <table>
        <thead>
        <tr>
            <td (click)="generalFiltering('sort', 'first')">
                First name
            </td>

            <td (click)="generalFiltering('sort', 'last')">
                Last name
            </td>

            <td (click)="generalFiltering('sort', 'sex')">
                Sex
            </td>

            <td (click)="generalFiltering('sort', 'age')">
                Age
            </td>

            <td (click)="generalFiltering('sort', 'email')">
                Email
            </td>

            <td (click)="generalFiltering('sort', 'phone')">
                Phone number
            </td>

            <td (click)="generalFiltering('sort', 'company')">
                Company
            </td>
        </tr>
        </thead>

        <tbody> 
          <tr *ngFor = "let user of newFilteredList"> 
            <td>{{user.first}}</td>

            <td>{{user.last}}</td>

            <td>{{user.sex}}</td>

            <td>{{user.age}}</td>

            <td>{{user.email}}</td>

            <td>{{user.phone}}</td>

            <td>{{user.company}}</td>
          </tr>
        </tbody>
    </table>