<div class="col-xs-8 col-xs-offset-2">
    <form [formGroup] = "userForm"
          (ngSubmit) = "submitForm()"
           >

        <div class="form-group">
          <label>Name</label>
          <input type="text" 
                [formControl]="userForm.controls['userName']"
                class="form-control"
                [class.input-invalid] = "userForm.controls['userName'].invalid"
                >
        </div>

        <div class="form-group">
          <label>E-mail</label>
          <input class="form-control"
          formControlName="userEmail"
          [class.input-invalid] = "userForm.controls['userEmail'].invalid">
        </div>

        <div class="form-group">
          <label>Выберите страну</label>
          <select class="form-control"
                  name = "country">
            <option value="ru">Россия</option>
            <option value="by">Белоруссия</option>
            <option value="ua">Украина</option>
          </select>
        </div>

        <div class="radio" *ngFor="let ans of answers">
          <label>
            <!-- <input type="radio " *ngIf = "ans"  [value]="ans.type" 
            name = "answer"> {{ans.text}} -->
          </label>
        </div>

        <button class="btn btn-success" 
                type="submit"
                [disabled] = "userForm.invalid">Сохранить</button>
    
      </form>

</div>